.wrapper {
	margin-top: 89px;
}
.breadcrumb > li + li::before {
	content: "> ";
}
.btn.dropdown-toggle.selectpicker.btn-default {
	color: #9999a6;
}
.breadcrumb {
	text-transform: uppercase;
	font-size: 11px;
	background: none repeat scroll 0 0 #efefef;
}
.breadcrumb a {
	color: #777777;
}
.markerr > img,.markerrr > img {
	height: 41px;
	width: 32px;
}
.labels {
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	margin-top: -35px !important;
	margin-left: -4px !important;
}
.labels2 {
	margin-left: -9px !important;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	margin-top: -35px !important;
}
.row.resMapa {
	background: #fff none repeat scroll 0 0;
}
.tipo .logo {
	margin-top: 0px;
	text-align: left;
}
.tipo .logo i {
	font-size: 25px;
	margin-right: 5px;
}
.activaciones .icon {
	font-size: 25px;
}
.correo img {
	margin-left: -5px;
}
.search {
	background: url("../images/Search.png") no-repeat scroll 8px 7px #ffffff;
	font-size: 11px;
	padding-left: 30px;
}
.control-label {
	font-size: 11px;
	padding-top: 10px;
}
.btn-group.bootstrap-select.form-control {
	width: 100%;
}
.row.filtros .col-sm-3:last-child {
	padding-right: 0;
}
.filter-option.pull-left {
	font-size: 11px;
}
.selectpicker span.text {
	font-size: 11px;
}
.btn.gris {
	background-color: #777776;
	border-color: #777776;
	color: #fff;
	border-radius: 0px;
	padding: 10px 30px;
	text-transform: uppercase;
	width: 189px;
	font-size: 11px;
}
.btn.gris.active, .btn.gris.focus, .btn.gris:active, .btn.gris:focus, .btn.gris:hover, .open > .dropdown-toggle.btn.gris {
	background-color: #777776;
	border-color: #777776;
	color: #fff;
}
.bus {
	margin-top: 30px;
}
.barraMenu .extras {
	border: 5px solid #c9840d;
}
.extras label {
	font-size: 11.5px;
}
.extras {
	margin-top: -10px;
	padding-bottom: 30px;
}
.row.barraMenu li > a {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.row.barraMenu > ul {
	background: none repeat scroll 0 0 #080a1c;
	height: 45px;
	list-style: outside none none;
	padding: 0;
	width: 100%;
}
.mmenuSec > a img {
	margin-right: 5px;
	margin-top: -3px;
}
.mmenuSec {
	border-right: 1px dotted #fff;
	float: left;
	padding: 12.5px;
	width: 20%;
}
.mmenuSec:hover {
	background: none repeat scroll 0 0 #c9840d;
}
.mmenuSecHovered {
	background: none repeat scroll 0 0 #c9840d;
}
.mmenuSec.Mextras:hover .extras {
	background: none repeat scroll 0 0 #fff;
	display: block !important;
	margin-left: -12px;
	margin-top: 12px;
	position: absolute;
	z-index: 99999;
}
.resultados .col-sm-3 > div {
	border: 1px solid #ccc;
	margin-bottom: 25px;
}
.row.resultados {
	margin-top: 0;
}
.footer-container {
	margin-top: 50px;
}
.mapaG {
	height: 445px;
	margin-top: -10px;
}
.extras .row .col-sm-3 {
	border-bottom: 3px solid #727272;
	padding-bottom: 10px;
	font-size: 11px;
}
.extras .row .col-sm-3.orange {
	border-bottom: 3px solid #c9840d;
	padding-bottom: 10px;
}
.extras > .row {
	padding: 30px 30px 10px;
	font-size: 11.5px !important;
	text-transform: uppercase;
	font-weight: bold;
}
.marker {
	width: 440px;
}
.marker > img {
	float: left;
	position: relative;
	top: 3px;
	width: 68px;
}
.marker > div {
	float: left;
	margin-left: 20px;
	margin-right: 20px;  /* width: 220px; */
	width: 316px;  /*width: 150px;*/
}
.tipo.orange, .tipo.red {
	float: left;
	width: 100%;
	height: 18px;
	position: relative;
	top: 2px;
	font-size: 12px;
}
.contenido-mapa {
	font-size: 11.5px !important;
	margin-top: 36px; /* width: 100%; */
	width: 0px !important;
}
.tipoI {
	margin-bottom: 5px;
	width: 15px;
	margin-right: 4px;
}
.marker p {
	font-size: 11px;
}
.marker .btn.orange {
	margin-top: 10px;
}
.markerr span {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin-left: -20px;  /*     position: absolute; */
	top: 5px;
}

.markerrr span {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: -25px;
    top: 5px;
}
.titulo {
	margin-top: 3px;
}
.place .titulo {
	margin-left: 39px;
	margin-top: -33px;
}
.markerr {

	/* position: absolute; */
}
.place .tipo {
	float: left;
	height: 34px;
	overflow: hidden;
	position: relative;
	right: -63px;
	top: 0;
	width: 200px;
}
.place .tipo > img {
	width: 19px;
}
.place .tipo .logo.orange, .place .tipo .logo.red {
	margin: 0;
	position: relative;
	right: 5px;    /*top: -19px;*/
	font-size: 15px;
}
.contenido {
	font-size: 11.5px;
	margin: 45px auto 0 65px;
	max-width: 219px;
	margin-bottom: 11px;
	width:45%;
}
.place {
	border: 1px solid #e8e8e8;
	width: 100%;
	background: #fff;
	padding-bottom: 44px;
}
.titulo > strong {
	text-transform: uppercase;
}
#mensajeModal .modal-content {
	font-weight: bold;
	height: 100px;
	padding: 40px;
	text-align: center;
}
#mensajeModal {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.row.botones {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	height: 40px;
	background: #ffffff;
}
.lugares {
	margin-top: -10px;
}
.row.resMapa {
	height: 442px;
	overflow-y: auto;
}
.extras .row .col-sm-15 {
	border-bottom: 3px solid #727272;
	font-size: 11px;
	padding-bottom: 10px;
	cursor: pointer;
}
.extras .row .col-sm-15.orange {
	border-bottom: 3px solid #c9840d;
}
.paginas {
	margin: 8px auto;
	overflow: hidden;
	padding-left: 0;
	width: 100px;
}
.paginas li {
	float: left;
	list-style: outside none none;
	width: 20px;
}
.paginas li a {
	color: #848484;
	font-size: 11px;
}
.paginas li:last-child::after {
	content: "";
}
.paginas li::after {
	color: #848484;
	content: " | ";
}
.contenido p {
	margin-bottom: 6px;
}
.mmenuSec .fa::before {
	font-size: 17px;
}
.mmenuSec .fa.fa-map-marker::before {
	font-size: 19px;
}
.mmenuSec .fa.fa-map-marker {
	padding-right: 5px;
}
.extras.container {
	margin-bottom: 10px;
}
.wrapper {
	margin-top: 50px;
}
.tipo .logo.orange {
	font-size: 12px;
}
.markerr,.markerrr {
	margin-left: 15px;
	margin-top: 15px;
}
.place .titulo {
	margin-left: 65px;
	margin-top: -31px;
}
.mmenuSec i {
	margin-top: 1px;
	position: absolute;
}
.menuNegro {
	padding-left: 25px;
}
.filter-option.pull-left {
	padding-top: 2px;
}

/* Responsive */
@media (max-width:767px) {
	.row.resMapa {
		height: auto;
		overflow-y: auto;
	}
	body {
		padding: 0 !important;
	}
	.content {
		margin: 0 auto;    /*     width: 360px; */
	}
	.wrapper {
		margin-top: 10px;
	}
	#global {
		border-bottom: 1px solid #727272;
	}
	.btn-group.bootstrap-select.form-control {
		width: 100%;
	}
	.filtros .col-sm-2 {
		margin-bottom: 25px;
	}
	.mmenuSec {
		width: 50%;
	}
	.row.barraMenu {
		margin: 0 auto;    /*     width: 360px; */
	}
	.mmenuSec.Mextras:hover .extras {

		/*    width: 360px; */
	}
	.resultados .col-sm-3 > div {
		border: 1px solid #ccc;
		margin: 0px;
		padding: 9px 9px 9px 25px;
	}
	.visible-xs.textoB {
		float: left;
	}
	.text-left.flechita {
		float: right;
		font-weight: bolder;
	}
	.footer-container {
		margin-top: 50px;
	}
	.mmenuSec {
		border-bottom: 1px dotted #fff;
		height: 44px;
		width: 100%;
	}
	.row.barraMenu > ul {
		height: 225px;
	}
	.mmenuSec:last-child {
		border: medium none;
	}
	.lugares, .barraMenu {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 300px;
	}
	.row.barraMenu {
		padding: 0 5px;
	}
	.col-sm-8.mapaG {

		/*width: 100%; */
		height: 270px;
		width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	.row.filtros .col-sm-3:last-child {
		padding-right: 15px;
	}
	.filtros .col-sm-3:first-child {
		margin-bottom: 25px;
	}
	.col-xs-15 {
		width: 100% !important;
		float: left;
		margin-top: 8px;
	}
	.checkbox, .radio {
		padding-left: 23px;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.col-sm-8.mapaG {
		margin-left: 30px;
		margin-right: 0;    /* width: 55.3%; */
		width: 92%;
	}
	.lugares, .barraMenu {
		margin-left: 0;
		margin-right: 0;
		margin-top: -10px;
		width: auto;
	}
	.lugares {
		width: 92% !important;
		margin-left: 30px !important;
		margin-right: auto !important;
	}
	.row.barraMenu {
		padding: 0 15px;
	}
	.row.filtros {
		margin: 0 15px;
	}
	.row.hidden-xs {
		padding-left: 30px;
	}
	.row.filtros .col-sm-3:first-child .orange {
		position: absolute;
	}
	.lugares, .barraMenu {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		width: auto;
	}
	.extras.container {
		width: auto;
	}
	.row.resMapa {
		margin-top: -10px !important;
		height: auto;
	}
	.titu-mapa {
		float: left;
		width: 300px;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.size-icon-mapa {
		width: 100% !important;
		float: left !important;
	}
	.size-icon-mapa {
		font-size: 22px;
		position: relative;
		top: 7px;
		margin-bottom: 10px;
		left: -2px;
		color: #c9840d;
	}
}
@media (min-width:780px) and (max-width:991) {
	.row.resMapa {
		margin-top: -10px !important;
	}
}
.place .titulo {
	float: left;
}
.img-categoria {
	margin-right: 6px;
	width: 19px;
	height: 20px;
}
.texto-categoria {
	position: relative;
	top: 2px;
}
span.titulo {
	font-family: 'Open Sans';
}
.enlace-microsite {
	text-decoration: none;
	color: #333;
}
.enlace-microsite:hover {
	text-decoration: none;
	color: #333;
}
.opcion:hover {
	cursor: pointer;
}
.titu-mapa {
	position: relative;
	top: 8px;
}
.barraMenu {
	position: relative;
	top: -1px;
}
.titulo-pop-map {
	color: #333;
}
.titulo-pop-map:hover {
	color: #333;
}
.titulo-pop-map:link {
	color: #333;
	text-decoration: none;
}
.titulo-pop-map:active {
	color: #333;
	text-decoration: none;
}
.titulo-pop-map:visited {
	color: #333;
	text-decoration: none;
}
@media (max-width:400px) {
	.ancho-lugares {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 310px !important;  /*  width: 100%; */
	}
	.barraMenu {
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px !important;
		width: 290px !important;   /* width: 100%;*/
	}
	.col-sm-8.mapaG {

		/* width: 100%; */
		height: 270px;
		width: 280px !important;
		margin-left: auto;
		margin-right: auto;
	}
	.place .titulo {
		margin-left: 59px !important;
	}
	.place .tipo {
		float: left;
		height: 34px;
		overflow: hidden;
		position: relative;
		right: -59px !important;
		top: 0;
		width: 200px;
	}
	.contenido {
		font-size: 11.5px;
		margin: 45px auto 0 61px !important;
		max-width: 219px;
		margin-bottom: 11px;
	}

	/*
	.row.barraMenu {
	padding: 0 16px;
	}*/
}
@media (min-width:400px) and (max-width:767px) {
	.ancho-lugares {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 100%;
	}
	.barraMenu {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-top: 15px !important;
	}
	.row.barraMenu {
		padding: 0 16px;
	}
	.col-sm-8.mapaG {

		/* width: 100%; */
		height: 270px;
		width: 95.2%;
		margin-left: auto;
		margin-right: auto;
	}
}
.size-icon {
	font-size: 22px !important;
	position: relative;
	top: 3px;
}
@media (min-width:780px) and (max-width:991) {
}
@media (max-width:767px) {
	.margin-left20 {
		margin-left: 0% !important;
	}
	.margin-left40 {
		margin-left: 0% !important;
	}
	.margin-left60 {
		margin-left: 0% !important;
	}
	.margin-left80 {
		margin-left: 0% !important;
	}
	.row.activaciones div {
		height: 42px !important;
	}
	.activaciones .icon {
		width: 100% !important;
		float: left !important;
	}
	.tipo {
		padding-top: 3px !important;
	}
	.texto-cate {
		position: relative !important;
		bottom: 6px !important;
	}
}
@media (max-width:468px) {
	.btn.gris {
		margin-bottom: 7px !important;
	}
	.texto-cate {
		position: relative !important;
		bottom: 6px !important;
	}
}
span.logo.purple {
	margin-top: 0px;
	text-align: left;
	position: relative !important;
	right: 5px !important;
	font-size: 15px !important;
}
span.titulo {
	font-size: 13px;
	color: #333 !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
}
.tipo {
	float: left !important;  /*width: 100% !important; */
	width: 200px !important;
	height: 26px !important;
	position: relative !important;
	top: 2px !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	margin-bottom: 20px;
}
@media (min-width:980px) {
	.row.activaciones div {
		height: 44px !important;
	}
}
@media (min-width:768px) and (max-width:979px) {
	.activaciones .icon {
		float: left !important;
		width: 100% !important;
	}
	.row.activaciones div {
		height: 47px !important;
	}
}
@media (max-width:767px) {
	.extras .row .col-sm-15 {
		padding-top: 7px !important;
	}
	.activaciones .icon {
		width: 32px !important;
		float: left !important;
	}
	.icon-negozi:before {
		position: relative;
		top: -4px !important;
	}
	.icon-food-drink:before {
		position: relative;
		top: -4px !important;
	}
	.icon-tempo-libero:before {
		position: relative;
		top: -4px !important;
	}
	.icon-cinema-e-spettacoli:before {
		position: relative;
		top: -4px !important;
	}
	.icon-iconos-03:before {
		position: relative;
		top: -4px !important;
	}
}
.boton-pop {
	float: right !important;
	margin-top: -10px !important;
	position: relative;
	top: -34px !important;
}
.contenedor-pop p {
	float: left !important;
	max-width: 200px !important;
}
.cont-izq {
	float: left !important;
	width: 65% !important;
	font-size: 11px !important;
	text-transform: inherit;
}
.texto-cate {
	position: relative;
	bottom: 2px;
}
.strong-3 {
	float: left;
	width: 298px;
	position: relative;
	top: 3px;
}